<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FitNotes2Fit</title>
</head>
<body>
    <h1>FitNotes2Fit Converter</h1>
    <h3>Upload your spreadsheet of workouts exported from the FitNotes app, and convert them into ready to upload to Garmin .fit binary files.</h3>
    <hr/>
    <p>Currently supported exercises, as listed in the FitNotes app.</p>
    <ul>
        {#for exercise in exercises}
            <li>{exercise}</li>
        {/for}
    </ul>
        <form action="/convert" method="post" enctype='multipart/form-data'>
            <div style="width: 33%; display: flex; flex-direction: column;">
                <label for="fitnotes">Select FitNotes spreadsheet file:</label>
                <input type="file"
                       id="fitnotes" name="file"
                       accept="text/csv">
                <label for="restTime">Input average rest time between sets</label>
                <input type="number" step="0.01" id="restTime" name="restTime" />
                <label for="heartRate">Input average heart rate during workouts</label>
                <input type="number" id="heartRate" name="heartRate" />
                <hr/>
                <input type="submit" value="Submit">
            </div>
        </form>
</body>
</html>
