<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FitNotes2Fit</title>
</head>
<body>
    <h1>FitNotes2Fit Converter</h1>
    <h3>Upload your spreadsheet of workouts exported from the FitNotes app, and convert them into ready to upload to Garmin .fit binary files.</h3>
    <hr/>
    <p>Currently supported exercises, as listed in the FitNotes app.</p>
    <ul>
        {#for exercise in exercises}
            <li>{exercise}</li>
        {/for}
    </ul>
    <form action="/convert" method="post" enctype='multipart/form-data'>
        <label for="fitnotes">Select FitNotes spreadsheet file:</label>
        <input type="file"
               id="fitnotes" name="file"
               accept="text/csv">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
